<phpunit colors="true"
         bootstrap="phpunit-bootstrap.php"
         verbose="true">
  <testsuites>
    <testsuite name="Loom Unit Tests">
      <directory>tests/unit/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>

</phpunit>
